@media (min-width: 992px) {
  .display-grid {
    display: grid !important;
  }
}

@media (max-width: 992px) and (min-width: 767px) {
  .topHeader {
    padding: 5px 0;
  }
  .logo {
    width: 80px !important;
  }
  .search__form {
    margin-left: 10px;
  }
  .form-control {
    padding: 5px 10px !important;
    font-size: 13px !important;
  }
  .support {
    font-size: 13px;
    margin-right: -16px !important;
  }
  .amount {
    font-size: 13px;
    margin-left: 0px;
  }
  .display-grid {
    display: grid;
    grid-template-columns: auto 220px auto;
  }
  .category {
    width: 100% !important;
    font-size: 13px !important;
  }
  .nav-grid {
    display: grid !important;
    grid-template-columns: 24.2% auto !important;
  }
  .nav-item {
    font-size: 13px !important;
  }
  .sub__category ul li a {
    font-size: 13px;
  }
  /********* site policy ***********/
  .policy__box {
    padding: 5px;
  }
  .policy__box h1 {
    font-size: 15px;
  }

  .policy__box p {
    font-size: 13px;
  }
  /********* site policy end ************/
  /*********** homepage product section start *************/
  .section__title {
    font-size: 20px !important;
  }
  .sorting {
    width: 90px;
    font-size: 15px;
  }
  .banner__content h3 {
    font-size: 20px !important;
  }
  .banner__content h2 {
    font-size: 30px !important;
  }
  .banner__shop__link {
    padding: 8px 13px !important;
    width: 90px !important;
    font-size: 11px !important;
  }
  /*********** homepage product section end *************/
  /******** category banner **************/
  .category__content {
    padding: 80px 3px !important;
  }
  .category__content h2 {
    font-size: 15px !important;
  }
}

@media (max-width: 891px) {
  /************************************************
            SHOP PAGE CSS START
  *************************************************/
  .shop__product .col-md-4 {
    padding: 0px !important;
  }
  /************************************************
            SHOP PAGE CSS END
  *************************************************/
}

@media (max-width: 767px) {
  .desktop__navbar {
    display: none !important;
  }
  .mobile__navbar {
    display: block !important;
  }
  .navbar__collapse__sticky {
    display: none !important;
  }
  .common__property {
    display: none !important;
  }
  .mobile__icon {
    display: block !important;
  }
  .mobile__logo {
    text-align: center !important;
  }
  .mobile__logo .logo {
    width: 60px !important;
  }
  .mobile__search__icon {
    display: block !important;
  }
  .mobile__search__icon span {
    font-size: 13px;
    color: black;
    margin-right: 10px;
    font-weight: 700;
  }
  .sub__category {
    display: none;
  }
  .hero__slider {
    padding-right: 0px;
  }
  .awssld {
    height: 200px !important;
  }
  .search__form {
    margin-left: 10px;
  }
  .support {
    margin-right: -16px !important;
  }
  .amount {
    margin-left: 0px;
  }
  .display-grid {
    display: grid;
    grid-template-columns: auto 220px auto;
  }
  /******** site policy ***********/
  .policy__box {
    padding: 12px !important;
  }
  .policy__row {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .policy-col-2 {
    padding-left: 0px !important;
    padding-right: 12px !important;
  }
  .policy-col-3 {
    padding-left: 12px !important;
  }
  /********* site policy end ************/

  /*********** homepage product section start *************/
  .section__title {
    font-size: 20px !important;
  }
  p.sort {
    font-size: 17px !important;
  }
  .sorting {
    width: 90px;
    font-size: 15px;
  }
  .banner {
    height: 180px !important;
  }
  .banner__content {
    padding: 55px 30px !important;
  }
  .banner__content h3 {
    font-size: 20px !important;
    margin-bottom: 4px !important;
  }
  .banner__content h2 {
    font-size: 30px !important;
    margin-bottom: 4px !important;
  }
  .banner__content p {
    margin-bottom: 0px !important;
  }
  .banner__content span {
    margin: 18px auto !important;
  }
  .banner__shop__link {
    padding: 8px 13px !important;
    width: 90px !important;
    font-size: 11px !important;
  }
  /*********** homepage product section end *************/
  /******** category banner ***********/
  .grid-left,
  .grid-right {
    height: 125px !important;
  }
  .grid-left {
    margin-bottom: 10px !important;
  }
  .grid-right {
    margin-top: 10px !important;
  }
  .grid-left .cate__content,
  .grid-right .cate__content {
    height: 125px !important;
  }

  .grid-middle-1,
  .grid-middle-2,
  .grid-middle-3 {
    height: 125px !important;
  }
  .grid-middle-1 .cate__content,
  .grid-middle-2 .cate__content,
  .grid-middle-3 .cate__content {
    height: 125px !important;
  }
  .grid-middle-2 {
    margin-top: -13px;
    margin-bottom: 10px;
  }
  .category__content {
    padding: 40px 30px !important;
  }
  .category__content h2 {
    font-size: 17px !important;
  }
  /******** category banner end ***********/
  /*********** homepage subscribe section start *************/
  .subscribe__content > form {
    width: 100% !important;
  }
  /*********** homepage subscribe section end *************/
  /********* Partner section start *************/
  .parnter__image__row {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
  .partner__logo img {
    height: 80px !important;
  }
  /********* Partner section end *************/

  /********* Footer section start *************/
  .footer__wrapper {
    margin-bottom: 55px;
  }
  .footer__row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 25px 0;
  }
  .footer__logo img {
    width: 90px !important;
  }
  .footer__location h2,
  .footer__category h2,
  .footer__menu h2 {
    font-size: 20px !important;
  }
  .footer__location ul li span,
  .footer__category ul li a,
  .footer__menu ul li a {
    font-size: 16px !important;
  }
  /********* Footer section end *************/

  /*********** Mobile sticky footer start ***********/
  .mobile__sticky__footer__menu {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99;
    background: white;
    padding: 10px 0;
  }
  .mobile__sticky__footer__content {
    font-weight: 700;
    position: relative;
  }
  .mobile__sticky__footer__row {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    text-align: center;
  }
  .middle__col {
    border-right: 1px solid #b3b3b3;
    border-left: 1px solid #b3b3b3;
  }
  .count {
    background: red;
    position: absolute;
    top: -6px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 21px;
    color: white;
    font-weight: 700;
    border-radius: 50px;
  }
  /************************************************
            SHOP PAGE CSS START
  *************************************************/
  .category__sidebar h2,
  .price__sidebar h2,
  .products__tag h2 {
    font-size: 15px;
  }
  .price__sidebar p {
    font-size: 13px;
  }
  .shop__sidebar__cate {
    font-size: 13px;
  }
  .shop__product {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  /************************************************
            SHOP PAGE CSS END
  *************************************************/

  /************************************************
            CONTACT PAGE CSS START
  *************************************************/
  .contact__form__row {
    display: grid;
    grid-template-columns: auto auto;
  }
  .heading h2 {
    font-size: 25px !important;
  }
  .heading p {
    font-size: 15px !important;
  }
  span.address__icon {
    margin-right: 10px !important;
    font-size: 13px !important;
    width: 35px !important;
    height: 35px !important;
  }
  .addressList li h3 {
    font-size: 20px !important;
    margin-bottom: 5px !important;
  }
  .addressList li p {
    font-size: 14px !important;
  }
  .contact__form h2 {
    font-size: 25px;
  }
  .message__input {
    font-size: 15px !important;
    margin-top: 15px;
  }
  /************************************************
            CONTACT PAGE CSS END
  *************************************************/

  /************************************************
            LOGIN PAGE CSS START
  *************************************************/
  .login__form {
    width: 70% !important;
  }
  .login__form h2 {
    font-size: 25px;
  }
  span.remember,
  span.forgot {
    font-size: 15px;
  }
  .account__text,
  .account__suggest {
    font-size: 15px !important;
  }
  .email__input,
  .password__input,
  .login__control,
  .login__button {
    margin-bottom: 15px !important;
  }
  .email__input,
  .password__input {
    padding: 8px 5px !important;
    font-size: 15px !important;
  }

  .login__button {
    padding: 12px 5px !important;
    font-size: 15px !important;
  }

  /************************************************
            LOGIN PAGE CSS END
  *************************************************/
}
@media screen and (max-width: 575px) {
  /******** site policy ***********/
  .policy__box {
    padding: 12px !important;
  }
  .policy__box h1 {
    font-size: 13px !important;
  }
  .policy__box p {
    font-size: 12px !important;
  }
  .policy__row {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .policy-col-2 {
    padding-left: 0px !important;
    padding-right: 12px !important;
  }
  .policy-col-3 {
    padding-left: 12px !important;
  }
  /********* site policy end ************/

  /*********** homepage product section start *************/
  .section__title {
    font-size: 20px !important;
  }
  p.sort {
    font-size: 17px !important;
  }
  .sorting {
    width: 90px;
    font-size: 15px;
  }
  .banner__content h3 {
    font-size: 20px !important;
  }
  .banner__content h2 {
    font-size: 30px !important;
  }
  .banner__shop__link {
    padding: 8px 13px !important;
    width: 90px !important;
    font-size: 11px !important;
  }
  .slider__content p {
    font-size: 10px !important;
  }
  .slider__content h4 {
    font-size: 12px !important;
  }
  .slider__content h3 {
    font-size: 15px !important;
  }
  .slider__content > .product__link {
    font-size: 14px !important;
  }
  /*********** homepage product section end *************/
  /*********** homepage subscribe section start *************/

  .subscribe__content h2 {
    font-size: 25px !important;
  }
  .subscribe__content p {
    font-size: 12px !important;
  }
  .subscribe__content > form {
    width: 100% !important;
  }
  /*********** homepage subscribe section end *************/

  /********* Footer section start *************/
  .footer__wrapper {
    margin-bottom: 44px;
  }
  .footer__location h2,
  .footer__category h2,
  .footer__menu h2 {
    font-size: 18px !important;
  }
  .footer__location ul li span,
  .footer__category ul li a,
  .footer__menu ul li a {
    font-size: 13px !important;
  }
  .copyright__text {
    font-size: 15px !important;
  }
  /********* Footer section end *************/

  /********* Mobile Footer start **********/
  .mobile__sticky__footer__content {
    font-size: 12px;
  }
  /************************************************
            SHOP PAGE CSS START
  *************************************************/
  .shop__product .slider__box {
    height: 275px;
  }
  .shop__product .col-md-4 {
    padding: 0px !important;
  }
  .shop__product .slider__img img {
    height: 140px;
  }
  /************************************************
            SHOP PAGE CSS END
  *************************************************/

  /************************************************
            CONTACT PAGE CSS START
  *************************************************/
  .contact__form__row {
    display: inherit;
    grid-template-columns: inherit;
  }
  /************************************************
            CONTACT PAGE CSS END
  *************************************************/

  /************************************************
            CONTACT PAGE CSS START
  *************************************************/
  .heading h2 {
    font-size: 20px !important;
  }
  .heading p {
    font-size: 12px !important;
  }
  span.address__icon {
    margin-right: 10px !important;
    font-size: 10px !important;
    width: 30px !important;
    height: 30px !important;
  }
  .addressList li h3 {
    font-size: 15px !important;
    margin-bottom: 5px !important;
  }
  .addressList li p {
    font-size: 11px !important;
  }
  .contact__form h2 {
    font-size: 20px;
  }
  .message__input {
    font-size: 13px !important;
    margin-top: 15px;
  }
  /************************************************
            CONTACT PAGE CSS END
  *************************************************/

  /************************************************
            LOGIN PAGE CSS START
  *************************************************/
  .login__form {
    width: 90% !important;
  }
  .login__form h2 {
    font-size: 20px;
  }
  span.remember {
    font-size: 13px;
  }

  span.forgot {
    font-size: 13px;
  }
  .account__text,
  .account__suggest {
    font-size: 13px !important;
  }
  .email__input,
  .password__input,
  .login__control,
  .login__button {
    margin-bottom: 10px !important;
  }
  .email__input,
  .password__input {
    padding: 4px 5px !important;
    font-size: 13px !important;
  }

  .login__button {
    padding: 10px 5px !important;
    font-size: 13px !important;
  }

  /************************************************
            LOGIN PAGE CSS END
  *************************************************/
}
@media screen and (max-width: 425px) {
  /******** site policy ***********/
  .policy__box {
    padding: 12px !important;
  }
  .policy__row {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .policy-col-2 {
    padding-left: 0px !important;
    padding-right: 12px !important;
  }
  .policy-col-3 {
    padding-left: 12px !important;
  }
  /********* site policy end ************/

  /*********** homepage product section start *************/
  .section__title {
    font-size: 17px !important;
  }
  p.sort {
    font-size: 13px !important;
  }
  .sorting {
    width: 90px;
    font-size: 15px;
    margin-left: 0px !important;
  }
  .sorting__flex {
    display: initial !important;
  }
  .banner__content h3 {
    font-size: 15px !important;
  }
  .banner__content h2 {
    font-size: 25px !important;
  }
  .banner__shop__link {
    padding: 8px 13px !important;
    width: 90px !important;
    font-size: 11px !important;
  }
  /*********** homepage product section end *************/
  /******** category banner start ***********/
  .category__content h2 {
    font-size: 17px !important;
  }
  /******** category banner end ***********/
  /*********** homepage subscribe section start *************/
  .subscrib__banner {
    height: 170px !important;
  }
  .subscribe__content h2 {
    font-size: 20px !important;
  }
  .subscribe__content p {
    font-size: 12px !important;
  }
  .subscribe__content > form .form-control {
    padding: 5px 10px !important;
    font-size: 13px !important;
  }
  .subscribe__content > form .btn {
    font-size: 13px !important;
  }
  /*********** homepage subscribe section end *************/

  /********* Footer section start *************/
  .footer__row {
    display: grid;
    grid-template-columns: 40% 60% !important;
  }
  .footer__location h2,
  .footer__category h2,
  .footer__menu h2 {
    font-size: 16px !important;
  }
  .footer__location ul li span,
  .footer__category ul li a,
  .footer__menu ul li a {
    font-size: 11px !important;
  }

  .footer__category ul li svg,
  .footer__menu ul li svg {
    font-size: 16px !important;
  }
  .footer__location ul li svg {
    font-size: 13px !important;
  }
  .copyright__text {
    font-size: 13px !important;
  }
  /********* Footer section end *************/
  /************************************************
            SHOP PAGE CSS START
  *************************************************/
  .shop__product {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .shop__product .col-md-4 {
    padding: 0px !important;
  }
  .shop__product .slider__box {
    height: 275px;
  }
  .shop__product .slider__img img {
    height: 140px;
  }
  /************************************************
            SHOP PAGE CSS END
  *************************************************/
  /************************************************
            CONTACT PAGE CSS START
  *************************************************/
  .heading h2 {
    font-size: 20px !important;
  }
  .heading p {
    font-size: 12px !important;
  }
  span.address__icon {
    margin-right: 10px !important;
    font-size: 10px !important;
    width: 30px !important;
    height: 30px !important;
  }
  .addressList li h3 {
    font-size: 15px !important;
    margin-bottom: 5px !important;
  }
  .addressList li p {
    font-size: 11px !important;
  }
  .contact__form h2 {
    font-size: 20px;
  }
  .message__input {
    font-size: 13px !important;
    margin-top: 15px;
  }
  /************************************************
            CONTACT PAGE CSS END
  *************************************************/

  /************************************************
            LOGIN PAGE CSS START
  *************************************************/
  .login__form {
    width: 100% !important;
  }
  /************************************************
            LOGIN PAGE CSS END
  *************************************************/
}
@media screen and (max-width: 320px) {
  /******* site policy ***********/
  .policy__box h1 {
    font-size: 12px;
  }

  .policy__box p {
    font-size: 10px;
  }
  /********* site policy end ************/

  /*********** homepage product section start *************/
  .section__title {
    font-size: 15px !important;
  }
  p.sort {
    font-size: 12px !important;
  }
  .sorting {
    width: 74px;
    font-size: 12px;
  }
  /*********** homepage product section end *************/

  /*********** homepage subscribe section start *************/
  .subscribe__content h2 {
    font-size: 15px !important;
  }
  .subscribe__content > form .form-control {
    padding: 5px 10px !important;
    font-size: 13px !important;
  }
  .subscribe__content > form .btn {
    font-size: 13px !important;
  }
  /*********** homepage subscribe section end *************/

  /********* Footer section start *************/
  .footer__location ul li span,
  .footer__category ul li a,
  .footer__menu ul li a {
    font-size: 10px !important;
  }
  /********* Footer section end *************/

  /************************************************
            SHOP PAGE CSS START
  *************************************************/
  .shop__product {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .shop__product .col-md-4 {
    padding: 0px !important;
  }
  .shop__product .slider__box {
    height: 275px;
    width: 126px;
  }
  .shop__product .slider__img img {
    height: 140px;
  }
  /************************************************
            SHOP PAGE CSS END
  *************************************************/

  /************************************************
            LOGIN PAGE CSS START
  *************************************************/
  .login__form h2 {
    font-size: 20px;
  }
  span.remember {
    font-size: 13px;
  }

  span.forgot {
    font-size: 13px;
  }
  .account__text,
  .account__suggest {
    font-size: 13px !important;
  }
  .email__input,
  .password__input,
  .login__control,
  .login__button {
    margin-bottom: 10px !important;
  }
  .email__input,
  .password__input {
    padding: 4px 5px !important;
    font-size: 13px !important;
  }

  .login__button {
    padding: 10px 5px !important;
    font-size: 13px !important;
  }

  /************************************************
            LOGIN PAGE CSS END
  *************************************************/
}
