@media (min-width: 992px) {
  .display-grid {
    display: grid !important;
  }
}

@media (max-width: 992px) and (min-width: 767px) {
  /*********** Modal css start ************/
  .ReactModal__Content {
    width: 40% !important;
  }
  /*********** Modal css end ************/
  .topHeader {
    padding: 5px 0;
  }
  .logo {
    width: 80px !important;
  }
  .search__form {
    margin-left: 10px;
  }
  .form-control {
    padding: 5px 10px !important;
    font-size: 13px !important;
  }
  .support {
    font-size: 13px;
    margin-right: -16px !important;
  }
  .amount {
    font-size: 13px;
    margin-left: 0px;
  }
  .display-grid {
    display: grid;
    grid-template-columns: auto 220px auto;
  }
  .category {
    width: 100% !important;
    font-size: 13px !important;
  }
  .nav-grid {
    display: grid !important;
    grid-template-columns: 24.2% auto !important;
  }
  .nav-item {
    font-size: 13px !important;
  }
  .sub__category ul li a {
    font-size: 13px;
  }
  /********* site policy ***********/
  .policy__box {
    padding: 5px;
  }
  .policy__box h1 {
    font-size: 15px;
  }

  .policy__box p {
    font-size: 13px;
  }
  /********* site policy end ************/
  /*********** homepage product section start *************/
  .section__title {
    font-size: 20px !important;
  }
  .sorting {
    width: 90px;
    font-size: 15px;
  }
  .banner__content h3 {
    font-size: 20px !important;
  }
  .banner__content h2 {
    font-size: 30px !important;
  }
  .banner__shop__link {
    padding: 8px 13px !important;
    width: 90px !important;
    font-size: 11px !important;
  }
  /*********** homepage product section end *************/
  /******** category banner **************/
  .category__content {
    padding: 80px 3px !important;
  }
  .category__content h2 {
    font-size: 15px !important;
  }
  /**************************************
      PRODUCT DETAILS PAGE CSS END
****************************************/
  .actions__btn button {
    padding: 8px 8px !important;
    font-size: 12px !important;
  }
  /**************************************
  PRODUCT DETAILS PAGE CSS END
****************************************/
}
/**********************************************
            CHECKOUT PAGE CSS START
**********************************************/
.input__field__inline {
  width: 47% !important;
  display: inline-block !important;
  margin-right: 13px !important;
}
/**********************************************
        CHECKOUT PAGE CSS END
**********************************************/

@media (max-width: 891px) {
  /************************************************
            SHOP PAGE CSS START
  *************************************************/
  .shop__product .col-md-4 {
    padding: 0px !important;
  }
  /************************************************
            SHOP PAGE CSS END
  *************************************************/
  /**************************************
      PRODUCT DETAILS PAGE CSS END
****************************************/
  .actions__btn button {
    padding: 8px 8px !important;
    font-size: 12px !important;
  }
  /**************************************
PRODUCT DETAILS PAGE CSS END
****************************************/
}

@media (max-width: 767px) {
  /*********** Modal css start ************/
  .ReactModal__Content {
    width: 60% !important;
    height: 350px;
  }
  /*********** Modal css end ************/
  .desktop__navbar {
    display: none !important;
  }
  .mobile__navbar {
    display: block !important;
  }
  .navbar__collapse__sticky {
    display: none !important;
  }
  .common__property {
    display: none !important;
  }
  .mobile__icon {
    display: block !important;
  }
  .mobile__logo {
    text-align: center !important;
  }
  .mobile__logo .logo {
    width: 60px !important;
  }
  .mobile__search__icon {
    display: block !important;
  }
  .mobile__search__icon span {
    font-size: 13px;
    color: black;
    margin-right: 10px;
    font-weight: 700;
  }
  .sub__category {
    display: none;
  }
  .hero__slider {
    padding-right: 0px;
  }
  .awssld {
    height: 200px !important;
  }
  .search__form {
    margin-left: 10px;
  }
  .support {
    margin-right: -16px !important;
  }
  .amount {
    margin-left: 0px;
  }
  .display-grid {
    display: grid;
    grid-template-columns: auto 220px auto;
  }
  /******** site policy ***********/
  .policy__box {
    padding: 12px !important;
  }
  .policy__row {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .policy-col-2 {
    padding-left: 0px !important;
    padding-right: 12px !important;
  }
  .policy-col-3 {
    padding-left: 12px !important;
  }
  /********* site policy end ************/

  /*********** homepage product section start *************/
  .section__title {
    font-size: 20px !important;
  }
  p.sort {
    font-size: 17px !important;
  }
  .sorting {
    width: 90px;
    font-size: 15px;
  }
  .banner {
    height: 180px !important;
  }
  .banner__content {
    padding: 55px 30px !important;
  }
  .banner__content h3 {
    font-size: 20px !important;
    margin-bottom: 4px !important;
  }
  .banner__content h2 {
    font-size: 30px !important;
    margin-bottom: 4px !important;
  }
  .banner__content p {
    margin-bottom: 0px !important;
  }
  .banner__content span {
    margin: 18px auto !important;
  }
  .banner__shop__link {
    padding: 8px 13px !important;
    width: 90px !important;
    font-size: 11px !important;
  }
  /*********** homepage product section end *************/
  /******** category banner ***********/
  .grid-left,
  .grid-right {
    height: 125px !important;
  }
  .grid-left {
    margin-bottom: 10px !important;
  }
  .grid-right {
    margin-top: 10px !important;
  }
  .grid-left .cate__content,
  .grid-right .cate__content {
    height: 125px !important;
  }

  .grid-middle-1,
  .grid-middle-2,
  .grid-middle-3 {
    height: 125px !important;
  }
  .grid-middle-1 .cate__content,
  .grid-middle-2 .cate__content,
  .grid-middle-3 .cate__content {
    height: 125px !important;
  }
  .grid-middle-2 {
    margin-top: -13px;
    margin-bottom: 10px;
  }
  .category__content {
    padding: 40px 30px !important;
  }
  .category__content h2 {
    font-size: 17px !important;
  }
  /******** category banner end ***********/
  /*********** homepage subscribe section start *************/
  .subscribe__content > form {
    width: 100% !important;
  }
  /*********** homepage subscribe section end *************/
  /********* Partner section start *************/
  .parnter__image__row {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
  .partner__logo img {
    height: 80px !important;
  }
  /********* Partner section end *************/

  /********* Footer section start *************/
  .footer__wrapper {
    margin-bottom: 55px;
  }
  .footer__row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 25px 0;
  }
  .footer__logo img {
    width: 90px !important;
  }
  .footer__location h2,
  .footer__category h2,
  .footer__menu h2 {
    font-size: 20px !important;
  }
  .footer__location ul li span,
  .footer__category ul li a,
  .footer__menu ul li a {
    font-size: 16px !important;
  }
  /********* Footer section end *************/

  /*********** Mobile sticky footer start ***********/
  .mobile__sticky__footer__menu {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99;
    background: white;
    padding: 10px 0;
  }
  .mobile__sticky__footer__content {
    font-weight: 700;
    position: relative;
  }
  .mobile__sticky__footer__row {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    text-align: center;
  }
  .middle__col {
    border-right: 1px solid #b3b3b3;
    border-left: 1px solid #b3b3b3;
  }
  .count {
    background: red;
    position: absolute;
    top: -6px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 21px;
    color: white;
    font-weight: 700;
    border-radius: 50px;
  }
  /************************************************
            SHOP PAGE CSS START
  *************************************************/
  .shop__section__image {
    padding: 60px 0 !important;
  }
  .shop__section__image h2 {
    font-size: 30px !important;
  }
  .category__sidebar h2,
  .price__sidebar h2,
  .products__tag h2 {
    font-size: 15px;
  }
  .price__sidebar p {
    font-size: 13px;
  }
  .shop__sidebar__cate {
    font-size: 13px;
  }
  .shop__product {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  /************************************************
            SHOP PAGE CSS END
  *************************************************/

  /************************************************
            CONTACT PAGE CSS START
  *************************************************/
  .contact__form__row {
    display: grid;
    grid-template-columns: auto auto;
  }
  .heading h2 {
    font-size: 25px !important;
  }
  .heading p {
    font-size: 15px !important;
  }
  span.address__icon {
    margin-right: 10px !important;
    font-size: 13px !important;
    width: 35px !important;
    height: 35px !important;
  }
  .addressList li h3 {
    font-size: 20px !important;
    margin-bottom: 5px !important;
  }
  .addressList li p {
    font-size: 14px !important;
  }
  .contact__form h2 {
    font-size: 25px;
  }
  .message__input {
    font-size: 15px !important;
    margin-top: 15px;
  }
  /************************************************
            CONTACT PAGE CSS END
  *************************************************/

  /************************************************
            LOGIN PAGE CSS START
  *************************************************/
  .auth__form {
    width: 70% !important;
  }
  .auth__form h2 {
    font-size: 25px;
  }
  span.remember,
  span.forgot {
    font-size: 15px;
  }
  .account__text,
  .account__suggest {
    font-size: 15px !important;
  }
  .input__field,
  .password__input,
  .login__control,
  .auth__button {
    margin-bottom: 15px !important;
  }
  .input__field,
  .password__input {
    padding: 8px 5px !important;
    font-size: 15px !important;
  }

  .auth__button {
    padding: 12px 5px !important;
    font-size: 15px !important;
  }

  /************************************************
            LOGIN PAGE CSS END
  *************************************************/

  /************************************************
            CART PAGE CSS START
  *************************************************/
  .cart__totals {
    margin-top: 15px !important;
  }
  .cart__section__image {
    padding: 60px 0 !important;
  }
  .cart__section__image h2 {
    font-size: 30px !important;
  }
  /************************************************
            CART PAGE CSS END
  *************************************************/

  /**********************************************
            CHECKOUT PAGE CSS START
**********************************************/
  .input__field__inline {
    width: 100% !important;
    display: inherit !important;
    margin-right: 0px !important;
  }
  .checkout__form {
    min-height: 150px !important;
  }
  .confirm__msg {
    padding: 30px 0 !important;
  }
  .confirm__msg h2,
  .payment__heading h2 {
    font-size: 20px !important;
    color: #67bc0f;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .confirm__msg p {
    font-size: 11px !important;
    color: var(--bg-blue-gray);
  }
  .return__shop {
    display: none;
  }
  /**********************************************
          CHECKOUT PAGE CSS END
**********************************************/

  /**********************************************
          MY ACCOUNT PAGE CSS START
**********************************************/
  .account-info {
    margin-top: 25px !important;
  }
  .account__input__field {
    width: 100% !important;
  }
  .react-tabs {
    display: inherit !important;
  }
  .react-tabs__tab {
    font-size: 18px;
  }
  .react-tabs__tab-list {
    width: 100% !important;
  }
  .react-tabs__tab-panel {
    margin-top: 20px;
    width: 100% !important;
  }

  /**********************************************
          MY ACCOUNT PAGE CSS END
**********************************************/
  /**********************************************
        ORDER TRACKING PAGE CSS START
**********************************************/
  .tracking__field {
    flex-basis: 73%;
    margin: 0 !important;
  }
  .tracking__btn {
    font-size: 13px !important;
    padding: 15px 15px !important;
  }
  .tracking__header__left h2 {
    font-size: 18px !important;
    margin-bottom: 3px !important;
  }
  .tracking__header__left p {
    font-size: 15px !important;
  }
  .tracking__header__right .btn {
    font-size: 15px;
    padding: 8px;
  }
  .info__header h2 {
    font-size: 17px !important;
  }
  .tracking__summary table tbody tr td,
  .tracking__details table tbody tr td {
    font-size: 15px !important;
  }
  /**********************************************
  ORDER TRACKING PAGE CSS END
**********************************************/

  /**********************************************
  PRODUCT DETAILS PAGE CSS START
**********************************************/
  .warning {
    margin: 20px 0;
  }
  /**********************************************
  PRODUCT DETALS PAGE CSS END
**********************************************/
}
@media screen and (max-width: 575px) {
  /******** site policy ***********/
  .policy__box {
    padding: 12px !important;
  }
  .policy__box h1 {
    font-size: 13px !important;
  }
  .policy__box p {
    font-size: 12px !important;
  }
  .policy__row {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .policy-col-2 {
    padding-left: 0px !important;
    padding-right: 12px !important;
  }
  .policy-col-3 {
    padding-left: 12px !important;
  }
  /********* site policy end ************/

  /*********** homepage product section start *************/
  .section__title {
    font-size: 20px !important;
  }
  p.sort {
    font-size: 17px !important;
  }
  .sorting {
    width: 90px;
    font-size: 15px;
  }
  .banner__content h3 {
    font-size: 20px !important;
  }
  .banner__content h2 {
    font-size: 30px !important;
  }
  .banner__shop__link {
    padding: 8px 13px !important;
    width: 90px !important;
    font-size: 11px !important;
  }
  .slider__content p {
    font-size: 10px !important;
  }
  .slider__content h4 {
    font-size: 12px !important;
  }
  .slider__content h3 {
    font-size: 15px !important;
  }
  .slider__content > .product__link {
    font-size: 14px !important;
  }
  /*********** homepage product section end *************/
  /*********** homepage subscribe section start *************/

  .subscribe__content h2 {
    font-size: 25px !important;
  }
  .subscribe__content p {
    font-size: 12px !important;
  }
  .subscribe__content > form {
    width: 100% !important;
  }
  /*********** homepage subscribe section end *************/

  /********* Footer section start *************/
  .footer__wrapper {
    margin-bottom: 44px;
  }
  .footer__location h2,
  .footer__category h2,
  .footer__menu h2 {
    font-size: 18px !important;
  }
  .footer__location ul li span,
  .footer__category ul li a,
  .footer__menu ul li a {
    font-size: 13px !important;
  }
  .copyright__text {
    font-size: 15px !important;
  }
  /********* Footer section end *************/

  /********* Mobile Footer start **********/
  .mobile__sticky__footer__content {
    font-size: 12px;
  }
  /************************************************
            SHOP PAGE CSS START
  *************************************************/
  .shop__sidebar {
    margin-top: 20px !important;
  }
  .shop__product .slider__box {
    height: 275px;
  }
  .shop__product .col-md-4 {
    padding: 0px !important;
  }
  .shop__product .slider__img img {
    height: 140px;
  }
  /************************************************
            SHOP PAGE CSS END
  *************************************************/

  /************************************************
            CONTACT PAGE CSS START
  *************************************************/
  .contact__form__row {
    display: inherit;
    grid-template-columns: inherit;
  }
  /************************************************
            CONTACT PAGE CSS END
  *************************************************/

  /************************************************
            CONTACT PAGE CSS START
  *************************************************/
  .heading h2 {
    font-size: 20px !important;
  }
  .heading p {
    font-size: 12px !important;
  }
  span.address__icon {
    margin-right: 10px !important;
    font-size: 10px !important;
    width: 30px !important;
    height: 30px !important;
  }
  .addressList li h3 {
    font-size: 15px !important;
    margin-bottom: 5px !important;
  }
  .addressList li p {
    font-size: 11px !important;
  }
  .contact__form h2 {
    font-size: 20px;
  }
  .message__input {
    font-size: 13px !important;
    margin-top: 15px;
  }
  /************************************************
            CONTACT PAGE CSS END
  *************************************************/

  /************************************************
            LOGIN PAGE CSS START
  *************************************************/
  .auth__form {
    width: 90% !important;
  }
  .auth__form h2 {
    font-size: 20px;
  }
  span.remember {
    font-size: 13px;
  }

  span.forgot {
    font-size: 13px;
  }
  .account__text,
  .account__suggest {
    font-size: 13px !important;
  }
  .input__field,
  .password__input,
  .login__control,
  .auth__button {
    margin-bottom: 10px !important;
  }
  .input__field,
  .password__input {
    padding: 4px 5px !important;
    font-size: 13px !important;
  }

  .auth__button {
    padding: 10px 5px !important;
    font-size: 13px !important;
  }

  /************************************************
            LOGIN PAGE CSS END
  *************************************************/

  /************************************************
            CART PAGE CSS START
  *************************************************/
  .cart__totals {
    margin-top: 10px !important;
  }
  .cart__list,
  .cart__totals {
    margin-top: 20px !important;
  }
  .cart__totals h2 {
    font-size: 20px;
  }
  .table__head tr th,
  .table__body tr td {
    font-size: 13px !important;
  }
  /************************************************
            CART PAGE CSS END
  *************************************************/

  /**********************************************
            CHECKOUT PAGE CSS START
**********************************************/
  .checkout__icon {
    font-size: 20px !important;
    margin-bottom: 5px !important;
  }
  .checkout__content {
    font-size: 12px !important;
    font-weight: 600 !important;
  }
  /**********************************************
          CHECKOUT PAGE CSS END
**********************************************/

  /**********************************************
          MY ACCOUNT PAGE CSS START
**********************************************/
  .account__details {
    margin-top: 20px !important;
  }
  .loggedIn__username h2 {
    font-size: 18px !important;
  }
  .account__heading h2 {
    font-size: 18px !important;
  }
  .account__input__field {
    width: 100% !important;
  }
  .account__sidebar .image img {
    width: 100px !important;
    height: 100px !important;
  }
  .react-tabs {
    display: inherit !important;
  }
  .react-tabs__tab {
    font-size: 15px;
  }
  .react-tabs__tab-list {
    width: 100% !important;
  }
  .react-tabs__tab-panel {
    margin-top: 20px;
    width: 100% !important;
    padding: 10px 5px !important;
  }
  .signle__content .label {
    font-size: 13px !important;
  }
  .signle__content .account__input__field {
    width: 70% !important;
  }

  /**********************************************
          MY ACCOUNT PAGE CSS END
**********************************************/

  /**********************************************
        ORDER TRACKING PAGE CSS START
**********************************************/
  .tracking__field {
    flex-basis: 65% !important;
    margin: 0 !important;
  }
  .tracking__btn {
    font-size: 13px !important;
    padding: 9px 15px !important;
  }
  .tracking__header__left h2 {
    font-size: 15px !important;
    margin-bottom: 3px !important;
  }
  .tracking__header__left p {
    font-size: 13px !important;
  }
  .tracking__header__right .btn {
    font-size: 13px;
    padding: 5px;
  }
  .info__header h2 {
    font-size: 15px !important;
  }
  .tracking__summary table tbody tr td,
  .tracking__details table tbody tr td {
    font-size: 13px !important;
  }
  /**********************************************
    ORDER TRACKING PAGE CSS END
**********************************************/
  /**************************************
      PRODUCT DETAILS PAGE CSS END
****************************************/
  .product__details__wrapper {
    margin-top: 20px !important;
  }
  .product__details h2 {
    font-size: 20px !important;
    margin-bottom: 15px !important;
  }
  .rating {
    margin: 15px 0 !important;
    font-size: 16px;
  }
  .remaining span {
    font-size: 10px !important;
  }
  .product__category {
    font-size: 16px;
  }
  .product__price {
    margin: 15px 0 !important;
  }
  .product__price del {
    font-size: 16px !important;
  }
  .product__price strong {
    font-size: 18px !important;
  }
  .sku {
    margin: 15px 0 !important;
    font-size: 16px;
  }
  .quantity {
    margin: 15px 0 !important;
  }
  .quantity button {
    font-size: 16px !important;
    width: 25px !important;
    height: 25px !important;
  }
  .quantity span,
  .quantity strong {
    font-size: 16px !important;
  }
  .quantity strong {
    margin: 0px !important;
  }
  .quantity button:hover {
    background-color: var(--bg-olive-green);
  }
  .quantity span {
    margin: 0 15px !important;
  }
  .actions__btn button {
    padding: 10px 15px !important;
    font-size: 14px !important;
  }
  .warning h5 {
    font-size: 13px !important;
  }
  .share__on {
    margin-top: 15px !important;
  }
  .share__on .share__icon {
    margin-right: 5px !important;
  }
  .warning {
    margin: 20px 0;
  }
  /**************************************
  PRODUCT DETAILS PAGE CSS END
****************************************/
  /**************************************
    REVIEW CSS START
****************************************/
  .review__section .react-tabs__tab {
    margin: 0 5px !important;
    padding: 8px 13px !important;
    font-size: 14px !important;
  }
  .description__wrapper p {
    font-size: 13px;
    color: var(--font-blue-gray);
    line-height: 16px;
  }
  .related__product h2 {
    font-size: 20px !important;
    margin: 15px 0;
  }
  .reviewer__details h2 {
    font-size: 15px !important;
  }
  .description p {
    font-size: 13px !important;
    line-height: inherit !important;
  }
  .review__form h2 {
    font-size: 18px !important;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .review__form h5 {
    font-size: 13px !important;
    margin: 10px 0;
    text-transform: capitalize;
  }
  .review__form label {
    font-size: 13px !important;
    font-weight: 700;
  }
  .tags__wrapper a {
    background: #8080800f;
    margin: 5px;
    padding: 5px;
    font-size: 13px !important;
    border-radius: 8px;
  }
  /**************************************
  REVIEW CSS END
****************************************/
}
@media screen and (max-width: 425px) {
  /*********** Modal css start ************/
  .ReactModal__Content {
    width: 80% !important;
    height: 350px;
  }
  /*********** Modal css end ************/
  /******** site policy ***********/
  .policy__box {
    padding: 12px !important;
  }
  .policy__row {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .policy-col-2 {
    padding-left: 0px !important;
    padding-right: 12px !important;
  }
  .policy-col-3 {
    padding-left: 12px !important;
  }
  /********* site policy end ************/

  /*********** homepage product section start *************/
  .section__title {
    font-size: 17px !important;
  }
  p.sort {
    font-size: 13px !important;
  }
  .sorting {
    width: 90px;
    font-size: 15px;
    margin-left: 0px !important;
  }
  .sorting__flex {
    display: initial !important;
  }
  .banner__content h3 {
    font-size: 15px !important;
  }
  .banner__content h2 {
    font-size: 25px !important;
  }
  .banner__shop__link {
    padding: 8px 13px !important;
    width: 90px !important;
    font-size: 11px !important;
  }
  /*********** homepage product section end *************/
  /******** category banner start ***********/
  .category__content h2 {
    font-size: 17px !important;
  }
  /******** category banner end ***********/
  /*********** homepage subscribe section start *************/
  .subscrib__banner {
    height: 170px !important;
  }
  .subscribe__content h2 {
    font-size: 20px !important;
  }
  .subscribe__content p {
    font-size: 12px !important;
  }
  .subscribe__content > form .form-control {
    padding: 5px 10px !important;
    font-size: 13px !important;
  }
  .subscribe__content > form .btn {
    font-size: 13px !important;
  }
  /*********** homepage subscribe section end *************/

  /********* Footer section start *************/
  .footer__row {
    display: grid;
    grid-template-columns: 40% 60% !important;
  }
  .footer__location h2,
  .footer__category h2,
  .footer__menu h2 {
    font-size: 16px !important;
  }
  .footer__location ul li span,
  .footer__category ul li a,
  .footer__menu ul li a {
    font-size: 11px !important;
  }

  .footer__category ul li svg,
  .footer__menu ul li svg {
    font-size: 16px !important;
  }
  .footer__location ul li svg {
    font-size: 13px !important;
  }
  .copyright__text {
    font-size: 13px !important;
  }
  /********* Footer section end *************/
  /************************************************
            SHOP PAGE CSS START
  *************************************************/
  .shop__section__image h2 {
    font-size: 20px !important;
  }
  .shop__product {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .shop__product .col-md-4 {
    padding: 0px !important;
  }
  .shop__product .slider__box {
    height: 275px;
  }
  .shop__product .slider__img img {
    height: 140px;
  }
  /************************************************
            SHOP PAGE CSS END
  *************************************************/
  /************************************************
            CONTACT PAGE CSS START
  *************************************************/
  .heading h2 {
    font-size: 20px !important;
  }
  .heading p {
    font-size: 12px !important;
  }
  span.address__icon {
    margin-right: 10px !important;
    font-size: 10px !important;
    width: 30px !important;
    height: 30px !important;
  }
  .addressList li h3 {
    font-size: 15px !important;
    margin-bottom: 5px !important;
  }
  .addressList li p {
    font-size: 11px !important;
  }
  .contact__form h2 {
    font-size: 20px;
  }
  .message__input {
    font-size: 13px !important;
    margin-top: 15px;
  }
  /************************************************
            CONTACT PAGE CSS END
  *************************************************/

  /************************************************
            LOGIN PAGE CSS START
  *************************************************/
  .auth__form {
    width: 100% !important;
  }
  /************************************************
            LOGIN PAGE CSS END
  *************************************************/

  /************************************************
            CART PAGE CSS START
  *************************************************/
  .cart__totals {
    margin-top: 5px !important;
  }
  .cart__section__image h2 {
    font-size: 20px !important;
  }
  .table__body tr td {
    font-size: 13px !important;
  }
  .order__summery__table span {
    font-size: 15px;
  }
  .action__button svg {
    font-size: 13px !important;
  }
  /************************************************
            CART PAGE CSS END
  *************************************************/

  /**********************************************
        ORDER TRACKING PAGE CSS START
**********************************************/
  .react-tabs__tab {
    font-size: 13px;
  }
  .tracking__field {
    flex-basis: 56% !important;
    margin: 0 !important;
  }
  .tracking__btn {
    font-size: 13px !important;
  }
  .tracking__header__left h2 {
    font-size: 15px !important;
    margin-bottom: 3px !important;
  }
  .tracking__header__left p {
    font-size: 13px !important;
  }
  .tracking__header__right .btn {
    font-size: 13px;
    padding: 5px;
  }
  .info__header h2 {
    font-size: 15px !important;
  }
  .tracking__summary table tbody tr td,
  .tracking__details table tbody tr td {
    font-size: 13px !important;
  }
  .tracking__details table tbody tr td img {
    width: 50px;
  }
  /**********************************************
      ORDER TRACKING PAGE CSS END
**********************************************/
  /**************************************
      PRODUCT DETAILS PAGE CSS END
****************************************/
  .product__details__wrapper {
    margin-top: 20px !important;
  }
  .product__details h2 {
    font-size: 20px !important;
    margin-bottom: 8px !important;
  }
  .rating {
    margin: 8px 0 !important;
    font-size: 13px;
  }
  .remaining span {
    font-size: 10px !important;
  }
  .product__category {
    font-size: 13px;
  }
  .product__price {
    margin: 8px 0 !important;
  }
  .product__price del {
    font-size: 13px !important;
  }
  .product__price strong {
    font-size: 18px !important;
  }
  .sku {
    margin: 8px 0 !important;
    font-size: 13px;
  }
  .quantity {
    margin: 8px 0 !important;
  }
  .quantity button {
    font-size: 13px !important;
    width: 25px !important;
    height: 25px !important;
  }
  .quantity span,
  .quantity strong {
    font-size: 13px !important;
  }
  .quantity strong {
    margin: 0px !important;
  }
  .quantity button:hover {
    background-color: var(--bg-olive-green);
  }
  .quantity span {
    margin: 0 10px !important;
  }
  .actions__btn button {
    padding: 8px 10px !important;
    font-size: 12px !important;
  }
  .warning h5 {
    font-size: 13px !important;
  }
  .share__on {
    margin-top: 10px !important;
  }
  .share__on .share__icon {
    margin-right: 5px !important;
  }
  .warning {
    margin: 20px 0;
  }
  /**************************************
    PRODUCT DETAILS PAGE CSS END
****************************************/
  /**************************************
    REVIEW CSS START
****************************************/
  .review__section .react-tabs__tab {
    margin: 0 4px !important;
    padding: 5px 10px !important;
    font-size: 13px !important;
  }
  /**************************************
    REVIEW CSS END
****************************************/
}
@media screen and (max-width: 320px) {
  /*********** Modal css start ************/
  .ReactModal__Content {
    width: 90% !important;
    height: 400px;
  }
  /*********** Modal css end ************/

  /******* site policy ***********/
  .policy__box h1 {
    font-size: 12px;
  }

  .policy__box p {
    font-size: 10px;
  }
  /********* site policy end ************/

  /*********** homepage product section start *************/
  .section__title {
    font-size: 15px !important;
  }
  p.sort {
    font-size: 12px !important;
  }
  .sorting {
    width: 74px;
    font-size: 12px;
  }
  /*********** homepage product section end *************/

  /*********** homepage subscribe section start *************/
  .subscribe__content h2 {
    font-size: 15px !important;
  }
  .subscribe__content > form .form-control {
    padding: 5px 10px !important;
    font-size: 13px !important;
  }
  .subscribe__content > form .btn {
    font-size: 13px !important;
  }
  /*********** homepage subscribe section end *************/

  /********* Footer section start *************/
  .footer__location ul li span,
  .footer__category ul li a,
  .footer__menu ul li a {
    font-size: 10px !important;
  }
  /********* Footer section end *************/

  /************************************************
            SHOP PAGE CSS START
  *************************************************/
  .shop__product {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .shop__product .col-md-4 {
    padding: 0px !important;
  }
  .shop__product .slider__box {
    height: 275px;
    width: 126px;
  }
  .shop__product .slider__img img {
    height: 140px;
  }
  /************************************************
            SHOP PAGE CSS END
  *************************************************/

  /************************************************
            LOGIN PAGE CSS START
  *************************************************/
  .auth__form h2 {
    font-size: 20px;
  }
  span.remember {
    font-size: 13px;
  }

  span.forgot {
    font-size: 13px;
  }
  .account__text,
  .account__suggest {
    font-size: 13px !important;
  }
  .input__field,
  .password__input,
  .login__control,
  .auth__button {
    margin-bottom: 10px !important;
  }
  .input__field,
  .password__input {
    padding: 4px 5px !important;
    font-size: 13px !important;
  }

  .auth__button {
    padding: 10px 5px !important;
    font-size: 13px !important;
  }

  /************************************************
            LOGIN PAGE CSS END
  *************************************************/
  /************************************************
            CART PAGE CSS START
  *************************************************/
  .cart__totals {
    margin-top: 0px !important;
  }
  .table__head tr th {
    font-size: 11px !important;
  }
  .table__body tr td {
    font-size: 13px !important;
  }
  .order__summery__table span {
    font-size: 13px;
  }
  /************************************************
            CART PAGE CSS END
  *************************************************/

  /**********************************************
          MY ACCOUNT PAGE CSS START
**********************************************/
  .sidebar__menu ul li a {
    font-size: 13px !important;
  }
  .account__heading h2 {
    font-size: 16px !important;
  }
  .account__input__field {
    width: 100% !important;
  }
  .info__details table tbody td,
  .email__field table tbody td {
    font-size: 13px !important;
  }
  .tracking__field {
    flex-basis: 50% !important;
    margin: 0 !important;
  }
  .tracking__btn {
    font-size: 13px !important;
  }
  /**********************************************
        MY ACCOUNT PAGE CSS END
**********************************************/

  /**********************************************
        ORDER TRACKING PAGE CSS START
**********************************************/
  .tracking__header__left h2 {
    font-size: 15px !important;
    margin-bottom: 3px !important;
  }
  .tracking__header__left p {
    font-size: 13px !important;
  }
  .tracking__header__right .btn {
    font-size: 13px;
    padding: 5px;
  }
  .info__header h2 {
    font-size: 15px !important;
  }
  .tracking__summary table tbody tr td,
  .tracking__details table tbody tr td {
    font-size: 13px !important;
  }
  .tracking__details table tbody tr td img {
    width: 50px;
  }
  /**********************************************
        ORDER TRACKING PAGE CSS END
**********************************************/
  /**************************************
      PRODUCT DETAILS PAGE CSS END
****************************************/
  .product__details__wrapper {
    margin-top: 20px !important;
  }
  .product__details h2 {
    font-size: 20px !important;
    margin-bottom: 8px !important;
  }
  .rating {
    margin: 8px 0 !important;
    font-size: 13px;
  }
  .remaining span {
    font-size: 10px !important;
  }
  .product__category {
    font-size: 13px;
  }
  .product__price {
    margin: 8px 0 !important;
  }
  .product__price del {
    font-size: 13px !important;
  }
  .product__price strong {
    font-size: 18px !important;
  }
  .sku {
    margin: 8px 0 !important;
    font-size: 13px;
  }
  .quantity {
    margin: 8px 0 !important;
    display: flex;
    align-items: center;
  }
  .qnty{
    margin: 17px 0 !important;
  }
  .quantity button {
    font-size: 13px !important;
    width: 25px !important;
    height: 25px !important;
  }
  .quantity span,
  .quantity strong {
    font-size: 13px !important;
  }
  .quantity strong {
    margin: 0px !important;
  }
  .quantity button:hover {
    background-color: var(--bg-olive-green);
  }
  .quantity span {
    margin: 0 10px !important;
    font-weight: 700;
  }
  .actions__btn button {
    padding: 5px 8px !important;
    font-size: 12px !important;
  }
  .actions__btn button:nth-child(2) {
    background-color: var(--bg-blue-gray);
  }
  .actions__btn button:nth-child(3) {
    background-color: var(--bg-olive-green);
  }
  .actions__btn button:hover {
    opacity: 0.8;
  }
  .warning h5 {
    font-size: 13px !important;
  }
  .share__on {
    margin-top: 10px !important;
  }
  .share__on .share__icon {
    margin-right: 5px !important;
  }
  .share__on .share__icon svg {
    font-size: 13px !important;
  }
  .share__on .share__icon:hover {
    box-sizing: border-box;
    box-shadow: 0px 1px 32px -7px #000000;
    transform: translateY(-4px);
  }
  .warning {
    margin: 20px 0;
  }
  /**************************************
      PRODUCT DETAILS PAGE CSS END
****************************************/
}
