:root {
  --font-dark: #101c2c;
  --font-light: #ffffff;
  --font-blue-gray: #5a6577;
  --font-olive-green: #7f881b;
  --font-dark-green: #0a472e;
  --font-family: "Nunito", sans-serif;
  --bg-light-gray: #e9ebec;
  --bg-dark-green: #0a472e;
  --bg-olive-green: #7f881b;
  --bg-dark: #101c2c;
  --bg-light: #ffffff;
  --bg-blue-gray: #5a6577;
}
/********* Global css start ***********/
body,
html {
  font-family: var(--font-family);
  position: relative;
  background-color: var(--bg-light-gray);
}
a {
  text-decoration: none;
  color: var(--font-dark);
  position: relative;
  transition: all 0.3s ease-in;
}
a:hover {
  color: var(--font-dark);
}
.container {
  max-width: 1140px;
  margin: auto;
}
.line__height {
  line-height: 25px;
}
.font-size__1 {
  font-size: 16px;
  font-weight: 600;
}
.font-size__2 {
  font-size: 20px;
  font-weight: 600;
}
.font-size__3 {
  font-size: 30px;
  font-weight: 700;
}
.font-dark {
  color: var(--font-dark);
  font-weight: 700;
}
.font-dark__green {
  color: var(--font-dark-green);
}
.font-blue-gray {
  color: var(--font-blue-gray);
  font-weight: 700;
}
.font-light {
  color: var(--font-light);
  font-weight: 700;
}
.font-olive-green {
  color: var(--font-olive-green);
  font-weight: 700;
}
.d-block {
  display: block;
}
.display-grid {
  grid-template-columns: auto 450px auto;
}

.bg-dark__green {
  background-color: var(--bg-dark-green);
}
.bg-olive__green {
  background-color: var(--bg-olive-green);
}
.bg-light__gray {
  background-color: var(--bg-light-gray);
}
.bg-dark {
  background-color: var(--bg-dark);
}
.bg-light {
  background-color: var(--bg-light);
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.img-fluid {
  width: 100%;
}
.m-top__1 {
  margin-top: 4px;
}
.m-top__2 {
  margin-top: 8px;
}
.m-top__3 {
  margin-top: 16px;
}
.m-top__4 {
  margin-top: 24px;
}
.m-top__5 {
  margin-top: 48px;
}
.m-top__auto {
  margin-top: auto;
}

.m-bottom__1 {
  margin-bottom: 4px;
}
.m-bottom__2 {
  margin-bottom: 8px;
}
.m-bottom__3 {
  margin-bottom: 16px;
}
.m-bottom__4 {
  margin-bottom: 24px;
}
.m-bottom__5 {
  margin-bottom: 48px;
}
.m-bottom__auto {
  margin-bottom: auto;
}

.m-right__1 {
  margin-right: 4px;
}
.m-right__2 {
  margin-right: 8px;
}
.m-right__3 {
  margin-right: 16px;
}
.m-right__4 {
  margin-right: 24px;
}
.m-right__5 {
  margin-right: 48px;
}
.m-right__auto {
  margin-right: auto;
}

.m-left__1 {
  margin-left: 4px;
}
.m-left__2 {
  margin-left: 8px;
}
.m-left__3 {
  margin-left: 16px;
}
.m-left__4 {
  margin-left: 24px;
}
.m-left__5 {
  margin-left: 48px;
}
.m-left__auto {
  margin-left: auto;
}

.p__1 {
  padding: 4px;
}
.p__2 {
  padding: 8px;
}
.p__3 {
  padding: 16px;
}
.p__4 {
  padding: 24px;
}
.p__5 {
  padding: 48px;
}

.p-top__1 {
  padding-top: 4px;
}
.p-top__2 {
  padding-top: 8px;
}
.p-top__3 {
  padding-top: 16px;
}
.p-top__4 {
  padding-top: 24px;
}
.p-top__5 {
  padding-top: 48px;
}
.p-top__auto {
  padding-top: auto;
}

.p-bottom__1 {
  padding-bottom: 4px;
}
.p-bottom__2 {
  padding-bottom: 8px;
}
.p-bottom__3 {
  padding-bottom: 16px;
}
.p-bottom__4 {
  padding-bottom: 24px;
}
.p-bottom__5 {
  padding-bottom: 48px;
}
.p-bottom__auto {
  padding-bottom: auto;
}

.p-right__1 {
  padding-right: 4px;
}
.p-right__2 {
  padding-right: 8px;
}
.p-right__3 {
  padding-right: 16px;
}
.p-right__4 {
  padding-right: 24px;
}
.p-right__5 {
  padding-right: 48px;
}
.p-right__auto {
  padding-right: auto;
}

.p-right__0 {
  padding-right: 0px !important;
}
.p-left__0 {
  padding-left: 0px !important;
}
.p-left__1 {
  padding-left: 4px;
}
.p-left__2 {
  padding-left: 8px;
}
.p-left__3 {
  padding-left: 16px;
}
.p-left__4 {
  padding-left: 24px;
}
.p-left__5 {
  padding-left: 48px;
}
.p-left__auto {
  padding-left: auto;
}
.py__2 {
  padding: 8px 0;
}
.px__0 {
  padding-left: 0px;
  padding-right: 0px;
}

.all__border {
  border: 1px solid #d2d2d2 !important;
}
.btn {
  background: #a8b324;
  border: none;
  color: white;
  font-size: 15px;
  padding: 10px 15px;
  line-height: 10px;
  border-radius: inherit;
}
.btn:focus {
  box-shadow: inherit;
}
/********* Global css end ***********/

.desktop__navbar {
  display: block;
}
.mobile__navbar {
  display: none;
}

/******* Header css start ***********/
.navbar {
  padding: 0px;
  top: 0;
}
.topHeader {
  padding: 20px 0;
}
.logo {
  width: 95px;
  cursor: pointer;
}
.navbar-nav {
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
/******* Header css end ***********/

/******** stikcy header menu css start ***********/
.sticky__header {
  position: fixed;
  width: 100%;
  z-index: 999;
  transform: translateY(-100px);
  opacity: 0;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px grey;
  transition: all 0.5s ease-in-out;
}
.sticky__header.show {
  position: fixed;
  width: 100%;
  z-index: 99;
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.sticky__search__form {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 13px;
  top: 69px;
  opacity: 0;
  z-index: 9;
  transform: skew(0deg, 90deg);
  transform-origin: right;
  transition: all 0.3s ease-in-out;
}
.sticky__search__form.active {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 13px;
  top: 69px;
  opacity: 1;
  z-index: 9;
  transform: skew(0deg, 0deg);
  transform-origin: right;
  transition: all 0.3s ease-in-out;
}
.navbar__collapse__sticky {
  display: block;
}
.navbar__collapse__sticky ul li a {
  color: var(--font-dark);
}
.common__property {
  display: block;
}
.common__property ul {
  float: right;
}
/****** sticky header menu css end ********/

/********* topheader css start **********/
.nav-item {
  display: inline-block;
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 700;
  color: var(--font-light) !important;
}
.link:hover {
  color: var(--font-olive-green) !important;
}
.nav-grid {
  display: grid !important;
  grid-template-columns: 24.5% auto;
}

.horizontal__line {
  border-bottom: 1px solid #e9ebec;
}
.cart__badge {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 26px;
  position: absolute;
  top: -15px;
  right: -12px;
  color: white;
  background: #dfb178;
  border-radius: 50px;
  font-size: 10px;
}
.form-control {
  width: 100%;
  padding: 11px 10px;
  border: 1px solid #a8b979;
  font-size: 15px;
  color: gray;
  border-radius: inherit;
}
.form-control:focus {
  border: 1px solid #a8b979;
  box-shadow: inherit;
}
.topHeader__icon:hover {
  background: var(--bg-olive-green);
  color: white !important;
}
.support {
  margin-right: 48px;
}
.support__icon {
  font-size: 30px;
  font-weight: 100;
}
.amount {
  margin-left: 24px;
}
/********* topheader css end **********/

/********* navbar category css end ***********/
.category {
  position: relative;
  width: 100%;
  background: var(--bg-olive-green);
  padding: 20px 20px;
  font-size: 15px;
  cursor: pointer;
}
.sub__category {
  background: var(--bg-light);
  height: 391px;
}
.sub__category ul li a:hover {
  color: var(--font-olive-green);
}

.category:hover .sub__category {
  position: absolute;
  width: 100%;
  height: 391px !important;
  left: 0;
  opacity: 1;
  top: 57px;
  visibility: visible;
  z-index: 99999;
}

.category ul li .sub__category {
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  opacity: 0;
  top: 57px;
  visibility: hidden;
  z-index: 99999;
  transition: all 0.3s ease-in-out;
}
/********* navbar category css start ***********/

/******** hero section slider custom css end ************/
.hero__slider {
  padding-left: 0px;
}
.awssld {
  height: 391px;
}
.awssld__controls__arrow-left,
.awssld__controls__arrow-right {
  height: 15px !important;
}
.awssld__content > img,
.awssld__content > video {
  object-fit: inherit;
}
/******** hero section slider custom css start ************/

/********* site policy ***********/
.policy__box {
  height: 100px;
}
.policy__box .support__icon {
  font-size: 25px;
}
.policy-col-1 {
  padding-right: 0;
}

.policy-col-2 {
  padding-left: 0px;
  padding-right: 0px;
}

.policy-col-3 {
  padding-left: 0;
  padding-right: 0;
}

.policy-col-4 {
  padding-left: 0;
}
/********* site policy end ************/

/******** product all slider css end ***********/
.box__shadow {
  box-sizing: border-box;
  box-shadow: 0px 0px 3px #d6d6d6;
  border-radius: 3px;
}
.sorting {
  border: 1px solid #9c9b9b61;
  border-radius: 0;
  font-feature-settings: "liga" on;
  font-variant: ordinal;
  font-optical-sizing: none;
}
.sorting__flex {
  display: flex;
}
select:focus {
  outline: none;
}
.product__banner {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
}
.banner {
  height: 327px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  transition: all 0.3s ease-out;
}
.product__banner:hover .banner {
  transform: scale(1.2);
}
.banner__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  color: white;
  z-index: 999;
  background: #15131373;
  padding: 80px 30px;
  text-align: center;
}
.banner__content h3 {
  font-size: 24px;
  margin-bottom: 15px;
  transition: all 0.3s ease-out;
}
.banner__content h2 {
  font-size: 40px;
  font-weight: 700;
  color: #a8b324;
  margin-bottom: 15px;
}
.banner__content p {
  margin-bottom: 15px;
}
.product__banner:hover .banner__content h3 {
  margin-top: -35px;
}
.banner__shop__link {
  background: #a8b324;
  padding: 8px 28px;
  width: 150px;
  margin: auto;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  transition: all 0.3s ease-out;
  opacity: 0;
}
.product__banner:hover .banner__shop__link {
  opacity: 1;
}
.banner__shop__link:hover {
  background: var(--bg-light);
}
.banner__content span {
  transition: all 0.3s ease-out;
  opacity: 0;
}
.product__banner:hover .banner__content span {
  width: 80px !important;
  opacity: 1;
}
.slider__box {
  height: 327px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px grey;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.slider__box:hover {
  box-shadow: 0px 0px 8px grey;
}
.slider__img img {
  height: 190px;
  display: block;
  transition: all 0.3s ease-in-out;
}
.slider__box:hover .slider__img img {
  transform: scale(1.1);
}
.discount__percent {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #0a472e;
  color: #fff;
  padding: 4px 10px;
  line-height: 1rem;
  z-index: 1;
  font-size: 13px;
  border-radius: 3px;
}
.slider__content {
  padding: 10px;
  text-align: center;
}
.slider__content p {
  color: orange;
  font-size: 13px;
}
.slider__content h4 {
  font-size: 15px;
  font-weight: 600;
  color: var(--font-blue-gray);
}

.slider__content h3 {
  font-size: 17px;
  font-weight: 700;
  color: var(--font-olive-green);
}
.slider__content > .product__link {
  color: var(--font-dark);
  font-weight: 700;
  font-size: 18px;
  font-variant: all-small-caps;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.arrow__icon {
  transition: all 0.3s ease-out;
}
.product__link:hover {
  color: var(--font-olive-green);
}
.product__link:hover .arrow__icon {
  margin-left: 5px;
}
/******** product all slider css end ***********/

/****** product carousel slider custom css start ***********/
.react-multiple-carousel__arrow {
  min-width: 23px !important;
  min-height: 23px !important;
  background-color: var(--bg-olive-green);
  z-index: 1;
}
.react-multiple-carousel__arrow:hover {
  background-color: #cbda2d;
}
.react-multiple-carousel__arrow::before {
  font-size: 12px;
}
/****** product carousel slider custom css end ***********/

/********** category section css start **************/
.grid-left,
.grid-right {
  height: 424px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.grid-left .cate__content,
.grid-right .cate__content {
  height: 424px;
  position: relative;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  transition: all 0.3s ease-out;
}

.grid-left:hover .cate__content,
.grid-right:hover .cate__content {
  transform: scale(1.2);
}

.grid-middle-1,
.grid-middle-2,
.grid-middle-3 {
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.grid-middle-1 .cate__content,
.grid-middle-2 .cate__content,
.grid-middle-3 .cate__content {
  height: 200px;
  position: relative;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow: hidden;
  transition: all 0.3s ease-out;
}
.grid-middle-1:hover .cate__content,
.grid-middle-2:hover .cate__content,
.grid-middle-3:hover .cate__content {
  transform: scale(1.2);
}
.category__content {
  width: 100%;
  height: 100%;
  background: #00000057;
  color: white;
  text-align: center;
  padding: 80px 30px;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
.category__content h2 {
  font-size: 20px;
  font-weight: 700;
}
.category__content p {
  margin-top: 50px;
  opacity: 0;
  font-weight: 600;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}
.category__content span {
  transition: all 0.3s ease-in-out;
}
.grid-middle-1:hover .category__content p,
.grid-middle-2:hover .category__content p,
.grid-middle-3:hover .category__content p {
  margin-top: 0;
  opacity: 1;
}
.grid-left:hover .category__content p,
.grid-right:hover .category__content p {
  margin-top: 0;
  opacity: 1;
}
.grid-left:hover .category__content span,
.grid-right:hover .category__content span {
  width: 100px !important;
}
.grid-middle-1:hover .category__content span,
.grid-middle-2:hover .category__content span,
.grid-middle-3:hover .category__content span {
  width: 80px !important;
}
/*********** Category section css end *************/

/*********** subscribe section css start ************/
.subscrib__banner {
  height: 200px;
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.subscribe__content h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 15px;
}
.subscribe__content p {
  font-size: 15px;
  color: var(--font-blue-gray);
}
.subscribe__content > form {
  width: 50%;
  margin: auto;
  margin-top: 25px;
}
/************ subscribe section css end *************/

/******** partner section css start ************/
.partner__logo img {
  height: 150px;
  filter: grayscale(1);
  transition: all 0.2s ease-in-out;
}
.partner__logo img:hover {
  filter: none;
}
/************* partner section css end **************/

/*********** Footer section css start **************/
.footer__logo img {
  width: 130px;
}
.footer__location h2,
.footer__category h2,
.footer__menu h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
.footer__location ul li,
.footer__category ul li {
  margin: 10px 0;
}
.footer__category ul li .footer__cate:hover {
  color: var(--font-light);
  margin-left: 10px;
}
.footer__menu ul li .footer__link:hover {
  color: var(--font-light);
  margin-left: 10px;
}
/**************** Footer section css end *****************/

/********** Mobile profile Drawer css start *************/
.backdrop__effect {
  background: #00000085;
  width: 100%;
  position: absolute;
  filter: blur(6px);
  z-index: 999;
  height: 100%;
}
.cart__drawer__inner {
  position: fixed;
  width: 230px;
  left: 0;
  background-color: var(--bg-light);
  z-index: 99999;
  height: 100%;
  transition: all 0.3s ease-in-out;
  transform: translateX(-260px);
  overflow-y: scroll;
}
.cart__drawer__inner.active {
  position: fixed;
  width: 250px;
  left: 0;
  background-color: var(--bg-light);
  z-index: 999;
  height: 100%;
  transition: all 0.3s ease-in-out;
  transform: translateX(0px);
  box-sizing: border-box;
  box-shadow: 0px 3px 11px black;
}
.image img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 5px solid white;
}
.card {
  border: none;
}
.close__icon {
  font-size: 13px;
  position: absolute;
  right: 11px;
}
.card-body {
  padding: 0 0 !important;
}
.profile {
  position: relative;
  text-align: center;
  background-color: var(--bg-olive-green);
  color: var(--font-light);
  padding: 10px 0;
}
.loggedIn__username h2 {
  font-size: 18px;
  margin: 5px 0;
  color: var(--font-light);
  font-weight: 700;
}
.drawer__menu__icon {
  margin-right: 13px;
}
.menu,
.authentication {
  font-size: 13px;
  margin-top: 10px;
}
.drawer__menu p,
.drawer__category p {
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 700;
  background: #9898983b;
}
.menu ul li,
.authentication ul li {
  display: inline-block;
}
.menu ul li a,
.authentication ul li a {
  font-weight: 400;
  color: var(--font-light);
}
.drawer__menu ul li,
.drawer__category ul li {
  border-bottom: 1px solid #8080802e;
}
.drawer__menu ul li:last-child,
.drawer__category ul li:last-child {
  border-bottom: none;
}
.drawer__menu ul li a,
.drawer__category ul li a {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  font-size: 13px;
}
.drawer__menu ul li a:hover {
  background-color: #e0e0e0a6;
}

/********** Mobile profile css end *************/

/********** Favorite Drawer css start *************/

/********** Favorite Drawer css end *************/

/********** Mobile device css start ***************/
.mobile__content {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  align-items: center;
}
.mobile__icon {
  text-align: left;
  font-size: 20px;
  color: var(--font-blue-gray);
  display: none;
}
.mobile__logo {
  text-align: start;
}
.mobile__logo .logo {
  width: 90px;
}
.mobile__search__icon {
  position: relative;
  font-size: 20px;
  color: var(--font-blue-gray);
  display: none;
}
.mobile__search__icon ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.icon {
  cursor: pointer;
}
/********** Mobile device css end ***************/

/**********************************************
            SHOP PAGE CSS START
**********************************************/
/********** sidebar catetory css start *************/
.shop__sidebar ul li {
  margin: 5px 0;
}
.shop__sidebar__cate svg {
  font-size: 20px;
}

.shop__sidebar__cate {
  font-size: 15px;
  font-weight: 500;
}
.shop__sidebar__cate:hover {
  color: var(--font-olive-green);
}
.tags {
  display: grid;
  grid-template-columns: auto auto;
}
.tags span {
  border: 1px solid #80808069;
  margin: 5px;
  padding: 5px 13px;
  border-radius: 50px;
  background: #efefefb8;
}
